body {    
    min-height: 740px;
    -webkit-font-smoothing: antialiased;
}

/* COMMON STEP STYLES */

.step {
    width: 1000px;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
    -webkit-transition: opacity 0.2s;
    -moz-transition:    opacity 0.2s;
    -ms-transition:     opacity 0.2s;
    -o-transition:      opacity 0.2s;
    transition:         opacity 0.2s;
}

/* fade out inactive slides */
.step:not(.active) {
    opacity: 0;
}