body {
    font-family: georgia, serif;
    line-height: 1.5;
    text-align: center;
}

h1 {
	font-size: 120px;
    color: #444;
	margin-bottom: 40px;
}

h2 {
    font-size: 60px;
    color: #444;
    margin-bottom: 30px;
}

h3 {
    font-size: 40px;
    color: #444;
    margin-bottom: 20px;
}

a {
	color: blue;
	cursor: pointer;
}

b, strong { 
    font-weight: bold 
}

i, em { 
    font-style: italic
}

ul {
    font-size: 24px;
}
